.lidMenu_cont
    width: 250px
    border-radius: 5px
    padding-top: 2px

    .lidMenu_item
        height: 30px

        display: flex
        justify-content: center
        align-items: center

        cursor: pointer

        .lidMenu_item:after
            border-top: 1px solid black
            width: 50%