
.reactSpring_cont {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.component_wrapper {
    width: 100%;
    height: 100%;
}

.component_cont {
    padding: 15px 5px;
}

.component_title {
    font-size: 2rem;
    margin: 10px 0;
}